.header-wrap {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.09);
  align-items: center;
}

.header-wrap .header-icon {
  display: flex;
  align-items: center;
  padding-left: 25px;
  left: 5%;
  position: relative;
}

.header-icon a:hover {
  color: black;
  text-decoration: none;
}

.header-icon a {
  font-size: 18px;
  font-weight: 600;
}

.header-icon a:link {
  color: black;
  text-decoration: none;
}

.header-icon a:visited {
  color: black;
  text-decoration: none;
}

.header-function a {
  /* color: black; */
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    padding-inline-start: 0;
    margin: 0;
    /* margin-top: 6%;*/
}

.header-menu ul li {
  margin-right: 30px;
}

.dropdown {
  cursor: pointer;
}

.header-function {
  display: flex;
  align-items: center;
  width: 20vw;
  position: relative;
  left: 30px;
}

.dropdown a {
  text-decoration: none;
  color: black;
  padding: 16px 20px;
  display: block;
  font-size: 1.3rem;
}

#login_icon {
  position: relative;
  left: 30%;
}

.icon {
  width: 30%;
}

.header-menu {
  position: relative;
  left: 5%;
}

.header-logo {
  width: 13vw;
  margin-left: 22px;
}

.AuthBtn {
  display: flex;
}

.authName {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 16px 20px;
}

.logout {
  width: 15%;
  cursor: pointer;
  margin-left: 18px;
}

.user_info {
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 1536px) {
  .header-menu ul {
    /* margin-top: 3.5%; */
  }
}

/* .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  display: none;
} */

/* .dropdown-content {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  background-color: #f9f9f9a1;
}*/